<html>
<head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
</head>
<body>
{% render 'header' %}
{{ content_for_layout }}
{% section 'custom_popup_rjee' %}
{{ 'script.js' | asset_url | script_tag }}
</body>
</html>